.navbar{
  width: 100%;
  padding:14px 20px;
  background-color: azure;
  display: flex;
  justify-content: space-between;
}

.navbar-options{
  display: flex;
  justify-content: space-evenly;
}
.navbar-options h6{
  margin:  auto 10px;
  padding:10px;
}